<div class="centeredHomePage">
  <% if params[:id] == '0' %>
      <h1><%= "Pre Season Power Rankings" %></h1><br>
  <% else %>
      <h1><%= "Week " + params[:id] + " Rankings" %></h1><br>
  <% end %><br>

  <div class="small-12 large-centered columns">
    <div class="large-12 columns">
      <table align="center">
        <thead>
          <tr>
            <th width="10">Rank</th>
            <th width="50">Team</th>
            <th width="500" style="text-align:center">Comments</th>
            <th width="10">Up/Down</th>
          </tr>
        </thead>
        <% @week_rankings.each do |ranking| %>
          <% @teams.each do |team| %>
            <% if team[:id] == ranking[:team_id] %>
              <tbody>
                <tr>
                  <td><%= "#" + ranking[:rank].to_s %></td>
                  <td><%= team[:name]%></td>
                  <td style="text-align:center"><%= ranking[:comment] %></td>
                  <% @previous_week_rankings.each do |prev_ranking| %>  
                    <% if prev_ranking[:team_id] == team[:id] %>
                      <% if ranking[:rank] == prev_ranking[:rank] %>
                        <td><b><%= "0" %></b></td>
                      <% elsif ranking[:rank] < prev_ranking[:rank] %>
                        <td style="color:green;"><b><%= "+ " + (prev_ranking[:rank] - ranking[:rank]).to_s %></b></td>
                      <% elsif ranking[:rank] > prev_ranking[:rank] %>
                        <td style="color:red;"><b><%= "- " + (ranking[:rank] - prev_ranking[:rank] ).to_s %></b></td>
                      <% end %> 
                    <% end %> 
                  <% end %>   
                </tr>
              </tbody>
            <% end %> 
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div> 